.addProductEachBlock {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 48%;
}

.eachProfileField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eachProfileField > input {
  padding: 15px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bebebe;
  background: #fff;
  font-weight: 600;
  font-size: 15px;
  font-family: monospace;
}

.eachProfileField > select {
  padding: 15px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #bebebe;
  background: #fff;
}

.eachProfileField > textarea {
  height: 117px;
  padding: 15px;
  outline: none;
  border-radius: 8px;
  resize: none;
  border: 1px solid #bebebe;
  background: #fff;
}

.profileFieldName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileFieldName > span {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
